<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abstyle.mapper.TopicMapper">
    <resultMap id="topicMap" type="topic">
        <id property="topicId" column="topic_id"/>
        <id property="topicName" column="topic_name"/>
        <id property="topicUserName" column="topic_user_name"/>
        <id property="topicType" column="topic_type"/>
        <id property="topicTime" column="topic_time"/>
        <id property="topicContent" column="topic_content"/>
    </resultMap>

    <sql id="topic">
        topic_id,topic_name,topic_user_name,topic_type,topic_time,topic_content
    </sql>

    <insert id="createTopic" parameterType="topic">
        insert into topic values(#{topicId},#{topicName},#{topicUserName},#{topicType},#{topicTime},#{topicContent});
    </insert>

    <select id="latestTopic" resultMap="topicMap">
        select <include refid="topic"/>
        from topic
        order by topic_time desc
    </select>

    <delete id="deleteTopic" parameterType="string">
        delete from topic
        where topic_id = #{topicId}
    </delete>

    <select id="selectTopicById" parameterType="string" resultType="topic">
        select <include refid="topic"></include>
        from topic
        where topic_id = #{topicId}
    </select>
</mapper>
